#root {
  width: 100%;
  height: 100%;
}
.tab {
  width: 80%;
  left: auto;
  right: auto;
  padding: 25px;
  background-color: white;
}

.ligne {
  width: 60%;
  height: 10%;
  left: auto;
  right: auto;
  padding: 25px;
  background-color: aqua;
}
